body {
    background-color: black;
}

.Input {
    background-color: rgba(0, 0, 255, 0.5);
    color: pink;
    display: block;
    width: 30vw;
    position: absolute;
    left: 33%;
    top: 40%;
}

.searchBtn {
    color: red;
    background-color: rgba(0, 0, 255, 0.582);
    position: absolute;
    left: 41.5%;
    width: 200px;
    height: 50px;
    top: 50%;
    border-radius: 16px;
    margin: 2px;
    padding: 2px;
}

p {
    color: orange;
    background-color: yellow;
}